# Target build directory
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE files
.idea/
*.iws
*.iml
*.ipr
.classpath
.project
.settings/
.vscode/

# Local properties / secrets (NEVER COMMIT TO GIT)
application-local.properties
application-dev.properties
.env
*.env
*.pem
*.key

# OS files
.DS_Store
Thumbs.db
